body {
  background: rgb(16, 19, 25);
}
.gallery-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  row-gap: 20px;
  column-gap: 10px;
  margin-left: 45px;
  margin-top: 70px;
  margin-right: 25px;
  padding-left: 30px;
  padding-right: 30px;
}

.games-img {
  border-radius: 10px;
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.gallery-title {
  color: white;
  padding-top: 120px;
  text-align: center;
  font-weight: 700;
  font-size: 40px;
}

.ghost-container {
  margin-top: 100px;
  position: relative;
}

.img-cont-ghost {
  display: inline-block;
  width: 500px;
  position: absolute;
  left: 40%;
  top: 40%;
}

.img-cont {
  object-fit: cover;
  width: 100%;
}

.ghost-info {
  color: white;
  display: inline-block;
  position: absolute;
  right: 15%;
  top: 5%;
  width: 500px;
}
.ghost-info,
.legend-info h2 {
  font-size: 65px;
}

.ghost-info,
.legend-info p {
  font-size: 20px;
}

.img-cont-legend {
  display: inline-block;
  width: 500px;
  position: absolute;
  right: 9.6%;
  top: 42%;
}

.legend-image {
  object-fit: cover;
  width: 60%;
}

.legend-container {
  margin-top: 100px;
  position: relative;
}

.img-cont1 {
  object-fit: cover;
  width: 100%;
}

.legend-info {
  color: white;
  display: inline-block;
  position: absolute;
  right: 0%;
  top: 5%;
  width: 500px;
}
