.header {
  background: rgb(0, 22, 43) url("/images/image10.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  height: 110%;
}

.color-overlay {
  width: 100%;
  height: 100%;
  background: rgb(0, 22, 43);
  position: absolute;
  opacity: 0.08;
}

.header-content {
  display: flex;
  flex-direction: row;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.left-section {
  display: flex;
  align-items: center;
}

.hamburger-menu {
  background-color: white;
  border-radius: 5px;
  height: 24px;
  margin-left: 24px;
  margin-right: 20px;
}
.hamburger-menu:hover {
  cursor: pointer;
  z-index: 1;
}

.site-logo {
  height: 40px;
  z-index: 1;
}

.site-name {
  margin-left: 20px;
  font-weight: 700;
  font-size: 30px;
  color: rgb(243, 11, 71);
  z-index: 1;
  font-size: 35px;
}

.middle-section {
  margin-left: 55px;
  margin-right: 35px;
  flex: 1;
  max-width: 400px;
  display: flex;
  align-items: center;
}

.search-bar {
  font-family: Montserrat;
  z-index: 1;
  flex: 1;
  height: 35px;
  padding-left: 10px;
  font-size: 16px;
  border: 1px solid rgb(192, 192, 192);
  border-radius: 20px;
  border: none;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.25);
  width: 0;
}

.right-section {
  z-index: 1;
  width: 426px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  flex-shrink: 0;
  padding: 15px;
}

.nav-content {
  z-index: 1;
  height: 24px;
  display: inline-block;
  text-decoration: none;
  margin-right: 10px;
  font-weight: 700;
  color: rgb(243, 11, 71);
  padding: 2px;
  transition: background-color 0.25s, color 0.25s;
}

.nav-content:hover {
  background-color: rgba(244, 244, 244, 0.99);
  border-radius: 2px;
  color: rgb(243, 11, 71);
}

.tag {
  position: absolute;
  top: 32%;
  left: 25%;
  font-size: 40px;
  font-weight: bold;
  color: white;
}
