.bottom-container {
  color: white;
  background: rgb(16, 19, 25);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin-top: 70px;
  padding-left: 50px;
  padding-right: 30px;
  column-gap: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.site-name1 {
  margin-top: 20px;
  text-align: center;
  font-weight: 700;
  color: rgb(243, 11, 71);
  font-size: 30px;
}

ul {
  list-style-type: none;
}
li {
  padding-top: 17px;
}

.site-logo-fnal {
  margin-top: 40px;
  height: 30%;
}

.bottom-container a {
  text-decoration: none;
  color: white;
  font-weight: 400;
  transition: color 0.25s;
}
a:hover {
  color: rgb(22, 178, 202);
}
