.img-cont {
  padding-top: 410px;
  height: 650px;
  background-image: none;
  background-color: rgb(242, 242, 242);
  color: rgb(17, 17, 17);
  text-align: center;
}

.img-cont1 {
  width: 350px;
  height: 350px;
  background-image: url(frank\ gallagher2.jpg);
  background-position: 50% 50%;
  margin: -343px auto 0;
  object-fit: cover;
  display: block;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border-radius: 50%;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 30px;
}
h3 {
  font-size: 25px;
  margin-top: 50px;
}

span {
  font-size: 18px;
}

.personal-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 60px;
  padding-right: 20px;
  padding-top: 50px;
}

p {
  line-height: 1.65;
}

a {
  text-decoration: none;
  color: rgb(22, 178, 202);
  font-weight: 700;
  transition: color 0.25s;
}
a:hover {
  color: rgb(17, 137, 156);
}
